<table cellspacing="2">
    <tr width="600px">
        <td >

		<p>Hi,$corporateName </p>
                            <p> $email had Dlinked from  membership of Gourmet7 </p>
 

	

 
	<p>For any assistance or queries, do contact us at support@gourmet7.com</p>
  
	<p>Bon Appetit!!!!</p>
 
	<p>Team Gourmet7</p>
   
	</td>
    </tr>
</table>