Hello ,

<br/>
<br/>

$courseBatch.createdBy.firstName $course.createdBy.lastName has invited you for $courseBatch.course.courseName Batch
<br/>
<br/>
Course batch Name : $courseBatch.course.courseName  
<br/>
Start Date : $courseBatch.startDate 
<br/>
End Date : $courseBatch.endDate 
<br/>
Kindly reply to the invitation. <a href="$skillmeLink" >Click here to reply to the invitation</a>
<br/>
<br/>
-SkillMe Support team<br/>
(Please check our 'How it works' section and 'FAQ' for any questions. If you still have doubts please call us Mon - Sat 10AM to 6PM or email us on support@skillme.com.in)
