Hello Foodie,
<br/>
<br/>
 We regret to inform you that the e-invitation extended to you by $member.getFirstName() $member.getLastName() for $invitedate at $invite.invitetime held at $restaurant.name Restaurant 
 has been cancelled. Kindly make a note of the same.
 	
<br/>
<br/>
Team HungryWungry!!!<br/>
(Please check our 'How it works' section for any questions. If you still have doubts please email us on support@hungrywungry.com)
