<table cellspacing="2">
    <tr width="600px">
        <td >

		<p>Hi,</p>
                            <p>Gourmet7 had gifted you a discount voucher .Voucher code can be use while  registering with Gourmet7 .</p>
 
	<p>Following are the details of Voucher code.
 	<ul>
		<li>Code: $voucherCode</li>
 
		<li>Amount : $voucherAmount</li>
 	</ul></p>
	<p>Kindly use code while registering with Gourmet7 .
 	</p>

 
	<p>For any assistance or queries, do contact us at support@gourmet7.com</p>
  
	<p>Bon Appetit!!!!</p>
 
	<p>Team Gourmet7</p>
   
	</td>
    </tr>
</table>