<table cellspacing="2">
    <tr width="600px">
        <td >

		<p>Hi,$name</p>
                            <p>Welcome to Gourmet7 .Thank you for  registering with Gourmet7 .</p>
 
	
 
	<p>For any assistance or queries, do contact us at support@gourmet7.com</p>
  
	<p>Bon Appetit!!!!</p>
 
	<p>Team Gourmet7</p>
   
	</td>
    </tr>
</table>