<table cellspacing="2">
    <tr width="600px">
        <td >

		<p>Hi $userName,</p>
                            <p>Thank you for availing the services of Gourmet7. As a Gourmet Lounge member you can enjoy unlimited exclusive offers with our Food & Beverage partners.</p>
 
	<p>Following are the details of the $restName Promo code.
 	<ul>
		<li>Code: $promoCodeNo</li>
 
		<li>Validity: $expiryDate</li>
 	</ul></p>
	<p>Kindly refer to the terms of usage mentioned below.
		<ol>$termsAndConditions</ol>
 	</p>

 
	<p>For any assistance or queries, do contact us at support@gourmet7.com</p>
  
	<p>Bon Appetit!!!!</p>
 
	<p>Team Gourmet7</p>
   
	</td>
    </tr>
</table>