Hi $adminName,<br /><br />
 
Thank you for registering with SkillMe.com. Please note the registration details as provided.
<br/><br/>
University Name : $name
<br/>
EmailID of University admin : $emailAddress
<br/>
Login Id : $loginId
<br/>
 
To set a new password <a href="$URL">Click here</a><br /><br />
 
If the above link does not work, copy and paste the following link in your browser $URL<br /><br />
 
For help with any other features on the website, please email us at: support@gourmet7.com<br /><br />
 

 
Team SkillMe<br /><br />
