@charset "utf-8";
/* CSS Document */

body {
    background-image: url(../img/loginpagebg.jpg);
}
a {
  color: #07A654 !important;
  text-decoration: none;
}
#btn {
    color: #363636;
    background: #e0e0e0;
}

#postion {
    position: absolute;
    left: 100px;
    top: 150px;
}

.bg-white {
    background-color: #FFF;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 173, 238, 1);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 173, 238, 1);
    box-shadow: 0px 0px 10px -2px rgba(0, 173, 238, 1);
}

.pull {
    text-align: left;
}


.footer-adjust {min-height:43px;}
.footer-adjust > ul {margin-bottom:1px;}